fastapi
uvicorn[standard]
python-multipart
python-dotenv
pydantic

pinecone
sentence-transformers
numpy
langchain-core
langchain-google-genai

PyPDF2
Pillow
pdf2image
python-docx

google-cloud-vision
google-cloud-storage
langgraph
pydub
httpx
beautifulsoup4
google-cloud-translate==2.0.1
playwright==1.44.0