# Force-rebuild-v2

fastapi
uvicorn[standard]
python-multipart
python-dotenv
pydantic

pinecone
sentence-transformers
numpy
langchain-core
langchain-google-genai

PyPDF2
Pillow
pdf2image
python-docx

google-cloud-vision
google-cloud-storage
langgraph
pydub
httpx
beautifulsoup4
playwright
google-cloud-speech==2.25.0  
google-cloud-translate==3.11.3
python-docx 
reportlab
playwright
playwright-stealth
pdfplumber
google-cloud-texttospeech